@media only screen and (max-width: 985px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        height: 450px;
        flex-direction: column;
        transition: all 0.4s ease-out;
    }
    .rightnav{
        text-align: center;
        padding-bottom: 25px;
    }
    .btn-sm{
        margin: 10px;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav{
        height: 70px;
    }
    .v-class{
        opacity: 0;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .sec{
        flex-direction: column-reverse;
    }
    .text-big{
        text-align: center;
    }
    .text-small{
        text-align: center;
    }
    .firstSection {
        height: 80vh;
    }
    .paras{
        padding: 0;
    }
    .buttons{
        display:flex;
        justify-content:center; 
    }
} 
